
    <div class="row">
        <div *ngIf="(quiz$ | async) as quiz" class="col-6 offset-3">
            <form #quizForm="ngForm" (ngSubmit)="onUpdate(quizForm, quiz)">

                <div class="form-group">
                    <label for="title">Title</label>
                    <input id="title" name="title" [(ngModel)]="quiz.title" type="text" class="form-control"
                        pattern=".{1,10}" required>
                    <div [hidden]="quizForm.controls.title?.valid" class="error-message">
                        A title minimum 1 és maximum 10 számjegyből állhat!
                    </div>
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <input id="description" name="description" [(ngModel)]="quiz.description" type="text"
                        class="form-control" pattern=".{1,50}" required>
                    <div [hidden]="quizForm.controls.descriptiom?.valid" class="error-message">
                        A description minimum 1 és maximum 50 karakterből állhat!
                    </div>
                </div>
                <!--  <div class="form-group">
                        <label for="amount">Amount</label>
                        <input id="amount" name="amount" [(ngModel)]="order.amount" type="number"
                            class="form-control" pattern="[1-9]\d{0,9}" required>
                        <div [hidden]="orderForm.controls.amount?.valid" class="error-message">
                            Az összeg minimum 1 és maximum 10 számjegyből állhat!
                        </div>
                    </div> -->
                <div class="form-group">
                    <label for="active">active</label>
                    <select id="active" name="active" [(ngModel)]="quiz.active" class="form-control" required>
                        <option *ngFor="let active of actives" [value]="active">{{active}}</option>
                    </select>
                    <div [hidden]="quizForm.controls.active?.valid" class="error-message">
                        Az active csak a megadott értékeket veheti fel
                    </div>
                </div>
                <button [disabled]="quizForm.invalid || updating" type="submit"
                    class="btn btn-primary btn-block btn-lg">
                    <i *ngIf="!updating" class="fa fa-save"></i>
                    <i *ngIf="updating" class="fa fa-refresh"></i>
                </button>
            </form>
        </div>
    </div>
